.CartProducts{
    display:flex;
    flex-direction:column;
    width:100%;
}
.divCartProducts{
    height: auto;
    text-align: right;
    padding-top: 2rem;
    padding-right: 5rem;
    background-color:white;
    font-size:22pt
}