.itemCount{
    width: 300px;
    margin:20px auto;
}

.countContainer{
    width: 100%;
    border: 1px solid grey!important;
    border-radius: 5px;
    margin: 5px auto;
    box-shadow: 2px  grey;
}

.countContainer span:hover {
    color:red;
}
.addCartButton{
    width: 100%;
}