.itemCount{
    width: 300px;
    margin:10% auto;
}

.countContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px auto;
    box-shadow: 2px  grey;
    background-color: white;
}
.countContainer button{
    background-color: white;
    border: none;
}
.countContainer button:hover {
    color:red;
}
.addCartButton{
    width: 80%;
    margin-top:5%
}